/node_modules
/public/hot
/public/fonts
/public/vendor
/public/storage
/public/images
/public/bower_components
/public/img
/public/upload
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.rar
public/js/popup_chat_trigger_demo.js
resources/views/tes/index.blade.php
app/Http/Controllers/TesController.php
