/node_modules
/public/phpmyadmin
/public/vendor
/public/storage
/public/seismogram
/public/images
/public/bower_components
/public/img
/public/upload
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.rar
*.sql
*.zip
*.lock
resources/views/tes/index.blade.php
.vscode/*
app/Http/Controllers/TesController.php
*.log
composer.lock
