.bg-yellow {
    background-color: #f2db10;
}

.label-section {
    color: #1b84e7;
    border-bottom: 1px solid #e9ecef;
    font-size: 13px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    text-align: left;
    letter-spacing: 1px;
    display: block;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 1200px) {
    .slim-navbar .nav-item-10 {
        flex: 1 1 10%;
        position: relative;
    }

    .slim-navbar .nav-item-15 {
        flex: 1 1 15%;
        position: relative;
    }

    .slim-navbar .nav-item-20 {
        flex: 1 1 20%;
        position: relative;
    }
	
	.slim-navbar .nav-item-25 {
        flex: 1 1 25%;
        position: relative;
    }

    .slim-navbar .nav-item-30 {
        flex: 1 1 30%;
        position: relative;
    }
}