hr {
	border-top: 2px solid #eee;
}

.ladda-button[data-style="expand-right"][data-loading] {
	color: white !important;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	background-color: #0066CC;
	border-color: #0066CC;
	color: #FFFFFF;
}

.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
	color: #fff;
	background-color: #007fff;
	border-color: #007fff;
}

#side-menu {
    background:#f1f3f6;
}

.label-awas {
    background-color: #F44336;
}

.label-siaga {
    background-color: #FF9800;
}

.label-waspada {
    background-color: #FFC107;
}

.label-normal {
    background-color: #4CAF50;
}

.press-release {
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 20px;
	line-height: 32px;
}

table tr td[class*="1"] {
	border-left: 5px solid #4CAF50;
}

table tr td[class*="2"] {
	border-left: 5px solid #FFC107;
}

table tr td[class*="3"] {
	border-left: 5px solid #FF9800;
}

table tr td[class*="4"] {
	border-left: 5px solid #F44336;
}

.text-baru {
	color: #F44336;
}

.text-draft {
	color: #FF9800;
}

.text-terbit {
	color: #4CAF50;
}

.hr-line-dashed {
    border-top: 5px dotted #f1f3f6;
}